body{
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------------- Navbar ----------------------------------------------*/
.navbar{
    background-color: #fc8f9f;
    
}
.navbar-brand{
    color: white;
    font-size: 25px;
}
.nav-link{
    color: white;
    margin: 0 10px;
}



/*--------------------------------------- Header -------------------------------------*/
#header{
    background-color: #fc8f9f;
    /* #ff9eac */
}

.row slogan{
    margin-top: 150px;
}

.slogan h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

.slogan button{
    margin-right: 20px;
}

.container-fluid{
    padding: 3% 15%;
}



/* ------------------------------------Features ---------------------------------*/
#features{
    padding: 5% 15% 2% 15%;
}

.feature-box{
    text-align: center;
}

.feature-box p{
    padding-bottom: 5%;
    font-family: monospace;
}



/* ------------------------------testimonials -------------------------------------*/
#testimonials{
    padding: 7% 15% 4% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img{
    width: 20%;
    border-radius: 100%;
}

.row-testimonial{
    padding-top: 5%;
}



/* -----------------------------------press ----------------------------------*/
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

#press img{
    margin: 0% 2%;
}


/*----------------------------------- card --------------------------------------*/
#card{
    padding: 4% 15%;
}
.card-column{
   padding:  2% 2%;
   text-align: center;
}
.card-column h3{
    font-size: 20px;
    font-family: monospace;
}



/* ----------------------------------------description ------------------------------------*/
#description{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
    font-weight: bold;
}

#description .btn{
    margin-top: 50px;
}

/* --------------------------------------footer --------------------------------------*/
#footer{
    padding: 7% 15%;
    text-align: center;
}

#footer .icon{
    margin: 20px 10px;
}